body {
	background:#1f253d;
	color:white;
	margin:0;
	font-family:sans-serif;
	height:100vh;
}

aside {
	background:#181C2B;
	min-height:100vh;

	width:20%;

	float:left;

	.empty {
		font-style:italic;
		text-align:center;
		display:block;
	}

	> ul {
		padding:0px;
		margin:0px;
		list-style:none;


		> li {
			border-top:1px solid #181C2B;
			padding:5px 10px;
			background:#1D2233;
		}
	}
}

main {
	overflow:hidden;
}

.button {
	background:#11a8ab;

	border-radius:2px;
	padding:5px 10px;

	text-decoration:none;

	color:white;
	display:inline-block;

	border-bottom: 1px solid #247475;
}
